
# https://github.com/github/gitignore/blob/master/Elisp.gitignore

# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# https://github.com/flyingmachine/emacs-for-clojure/blob/master/.gitignore
.smex-items
*~$
places
.recentf
ido.last
cider-history
projectile-bookmarks.eld
projectile.cache
auto-save-list
backups
